<head>
  <script type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl"></script>
  <title>Literary Universe</title>
  <meta name="description" content="Literary Universe is a creative and publishing site for large story universes." />
  <meta name="keywords" content="creative writing, scifi, fantasy, writing, publishing, translations, story, stories, universe" />
  <meta name="copyrights" content="All rights reserved, all texts belong to their respective authors." />
</head>
<body>
  <div id='reactRoot'></div>
</body>