.inbox-font
{font-size: 1.5em;}

.pitchspot-blue
{    background-color : #11264B;}

.pitchspot-blue-two
{    background-color : #35C0CE;}

.pitchspot-blue-three
{    background-color : #EF4550 !important;}

.white-font
{
	font-color: white;
}